.header-container{
    background-color: aliceblue;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    animation: slideimg 20s ease-in-out infinite;
    -moz-animation: slideimg 20s ease-in-out infinite;
}

.header-description{
    background-color: #f0ece8;
    backdrop-filter: blur(5px);
    max-width: 25%;
    height: auto;
    padding: 2%;
    overflow-wrap: break-word;
    position: relative;
    top: 45%;
    margin: 0 auto;
}
    .header-description h1{
        margin: 0;
    }
    .header-description p{
        text-align: justify;
    }
    .header-description a{
        display: block;
        position: relative;
        text-align: center;
    }
    @media screen and (max-width: 500px) {
        .header-description{
            max-width: 90%;
            padding: 20px;
            top: 35%;
            overflow-y: hidden;
        }
    }

.btn-consult{
    background-color: #d57038;
    color: #f0ece8;
    text-decoration: none;
    padding: .5rem 1.5rem;
    width: auto;
    transition: .3s ease-in-out;
}
    .btn-consult:hover{
        background-color: #e3a689;
    }

.reveal-js{
    opacity: 0;
    transform: translateY(80px);
    transition: 1s;
    padding: 1% 10%;
}
    
.reveal-js.active{
    opacity: 1;
    transform: translateY(0);
}

.article-container{
    min-height: 90vh;
    text-align: justify;
    overflow-y: hidden;
}
    .article-container:nth-child(even){
        background-color: #f0ece8;
    }
    .article-container:nth-child(odd){
        background-color: #f1e7da;
    }
    .article-container p{
        text-align: center;
    }
    .article-container h1{
        font-size: 45px;
        margin: 2%;
        text-align: center;
    }

/** SERVICES **/

.services-section{
    margin-top: 5%
}

.services-row{
    width: auto;
    min-height: 37vh;
    display: flex;
    text-align: justify;
}
    .services-row:nth-child(odd){
        background: linear-gradient(90deg, 
        rgba(255,255,255,0) 0%, 
        rgba(237,221,209,1) 15%, 
        rgba(237,221,209,1) 85%, 
        rgba(237,221,209,0) 100%);
    }
    .services-row:nth-child(even){
        background: none;
    }
    .img-box{
        width: 30%;
        object-fit: cover;
        margin: auto 2%;
        border-radius: 20px;
    }
        .img-box img{
            width: 25vw;
        }
    .text-box{
        width: 60%;
        padding: 5%;
        overflow-wrap: break-word;
    }
        .text-box p{
            text-align: justify;
        }

    .services-row:last-child{
        display: block;
        min-height: 10vh;
        width: 100%;
        padding: 4%;
        text-align: center;
    }
        .services-row:last-child a{
            background-color: #d57038;
            color:#f0ece8;
            text-decoration: none;
            margin: 2%;
            padding: 1rem 2rem;
            transition: .3s ease-in-out;
        }
        .services-row:last-child a:hover{
            background-color: #e3a689;
        }

    @media screen and (max-width: 500px) {
        .img-box{
            position: absolute;
            visibility: hidden;
            z-index: 2000;
        }
        .text-box{
            width: 100%;
        }
        .services-row:last-child{
            display: flex;
        }
    }
    

/** ABOUT US **/

.cards-section{
    min-height: 50vh;
    overflow-wrap: break-word;
}
.card-container {
    background-color: #f1e7da;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 4px rgba(0,0,0,0.2);
    display: inline-flex;
    width: 24%;
    height: 50vh;
    margin: 4.5%;
    overflow: hidden;
    transition: .5s ease-in-out;
}
    .card-container:nth-of-type(1){
        background-image: url("../img/person_1.jpg");
        background-size: 100%;
    }
    .card-container:nth-of-type(2){
        background-image: url("../img/person_2.jpg");
        background-size: 100%;
    }
    .card-container:nth-of-type(3){
        background-image: url("../img/person_3.jpg");
        background-size: 100%;
    }
    .card-container:hover{
        background-position: 3% 3%;
        background-size: 105%;
    }

.card-content{
    z-index: 200;
    background: linear-gradient(180deg, 
    rgba(255,255,255,0) 0%, 
    rgba(144,88,62,0.49653364763874297) 50%, 
    rgba(144,88,62,1) 100%);
    color: #f0ece8;
    transform: translateY(65%);
    transition: .5s ease-in-out;
}
    .card-content h3,.card-content p{
        padding: 5% 10%;
        text-align: justify;
    }
    .card-content h3{
        font-family: 'Dancing Script', serif;
        margin: 3%;
        font-size: 35px;
    }
    .card-content span{
        display: inline;
        text-transform: capitalize;
        font-weight: bolder;
        background-color: #f0ece8;
        border-radius: 100px;
        color: #422a1e;
        padding: 2% 5%;
        margin: 10%
    }
    .card-content p{
        height: 42%;
        overflow: hidden;
    }
    .card-container:hover > .card-content{
        transform: translateY(5%);
    }

    .social-media-icons{
        align-content: center;
    }
        .social-media-icons li{
            font-size: 25px;
            display: inline;
            list-style-type: none;
            text-decoration: none;
            margin: 5%;
        }
        .social-media-icons a{
            color: #f0ece8;
            text-decoration: none;
            transition: .3s ease-in-out;
        }
        .social-media-icons a:hover{
            color: #e3a689;
        }
        

@media screen and (max-width: 770px) {
    .card-container {
        width: 100%;
        height: 100%;
        margin: 0;
        display: block;
        margin-bottom: 50px;
    }
    .card-content{
        transform: translateY(60%);
    }
        .card-container:hover > .card-content{
            transform: translateY(0%);
        }
}

/** CONTACT **/

.contact-division{
    width: 50vw;
    height: auto;
    display: table-cell;
    padding: 3%;
}
    .contact-division li{
        margin-bottom: 5%;
    }
    .contact-division h3{
        text-align: center;
        margin-bottom: 5%;
    }

.book-consult-link{
    margin: 5%;
    height: 15vh;
    text-align: center;
}
    .book-consult-link p{
        margin-bottom: 7%;
    }

.contact-form input, textarea{
    font-size: 12px;
    padding: 5px;
    width: 100%;
    background-color: #FCF6EE;
    border: 2px solid #DFD5C9;
    font-weight: 700;
    border-radius: 2px;
    color: #422a1e;
    margin-bottom: 1%;
    font-family: 'Nanum Myeongjo', serif;
}
    .contact-form textarea{
        height: 125px;
        resize: none;
    }
    #submit{
        display: flex;
        margin: 1% auto;
        background-color: #d57038;
        color: #f0ece8;
        padding: .6rem 1.5rem;
        width: auto;
        transition: .3s ease-in-out;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }
        #submit:hover{
            background-color: #e3a689;
        }

@media screen and (max-width: 600px) {
    .contact-division{
        width: 80vw;
        padding: 3%;
        height: auto;
        display: block;
        float: left;
        overflow-wrap: break-word;
    }
}
/** FOOTER **/
.footer-container{
    height: 10vh;
    background-color: #422a1e;
    color: #f0ece8;
    padding: 1vw 2vw;
    overflow-y: hidden;
}

@keyframes slideimg{
    0%, 100%{
        background-size: cover;
        background-image: url("../img/carousel_1.jpg");
    }
    25%{
        background-size: cover;
        background-image: url("../img/carousel_2.jpg");
    }
    50%{
        background-size: cover;
        background-image: url("../img/carousel_3.jpg");
    }
    75%{
        background-size: cover;
        background-image: url("../img/carousel_5.jpg");
    }
}